In [1458]:
import pandas as pd
import numpy as np
import torch.nn as nn
import torch
import torch.nn.functional as F

from sklearn.linear_model import SGDClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split

## Data import

In [1459]:
df = pd.read_csv("Iris.csv")
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

## Data preprocessing

The first step is to check which columns are important and which not. The 'Id' column does not have effect on the training procedure, therefore it can be removed.

In [1460]:
df = df.drop(["Id"], axis=1)
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

Then, we check whether dataframe contains null values or not. In this case all values are provided and it does not require any additional actions related to filling the data. It is important to note that 'Species' column is a categorical column.

In [1461]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    float64
 1   SepalWidthCm   150 non-null    float64
 2   PetalLengthCm  150 non-null    float64
 3   PetalWidthCm   150 non-null    float64
 4   Species        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

The next step is to transform categorical column into numerical values in order to train the model. 'Species' column consists of 3 values ('Iris-setosa', 'Iris-versicolor' and 'Iris-virginica'). We transformed those values into numbers: 0, 1, 2.

In [1462]:
categories = df['Species'].unique()
print(categories)

['Iris-setosa' 'Iris-versicolor' 'Iris-virginica']

In [1463]:
df_copy = df
df_copy.head()
df_copy = pd.get_dummies(data=df_copy, columns=list(df_copy.select_dtypes(['object']).columns))
df_copy.head()

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species_Iris-setosa,Species_Iris-versicolor,Species_Iris-virginica
0,5.1,3.5,1.4,0.2,1,0,0
1,4.9,3.0,1.4,0.2,1,0,0
2,4.7,3.2,1.3,0.2,1,0,0
3,4.6,3.1,1.5,0.2,1,0,0
4,5.0,3.6,1.4,0.2,1,0,0

In [1464]:
df['Species'] = df['Species'].map({'Iris-setosa': 0, 'Iris-versicolor': 1, 'Iris-virginica': 2})
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            5.1           3.5            1.4           0.2        0
1            4.9           3.0            1.4           0.2        0
2            4.7           3.2            1.3           0.2        0
3            4.6           3.1            1.5           0.2        0
4            5.0           3.6            1.4           0.2        0

After that, we split datasest into the train (80% of original dataset) and the test (20% of original dataset) datasets. Then we transformed them into inputs and targets for loss functions.

In [1465]:
X = df.drop('Species', axis=1).values
y = df['Species'].values

In [1466]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [1467]:
X_train = torch.FloatTensor(X_train)
X_test = torch.FloatTensor(X_test)
y_train = torch.LongTensor(y_train)
y_test = torch.LongTensor(y_test)

In [1468]:
X_MSE = df_copy.drop(['Species_Iris-setosa', 'Species_Iris-versicolor', 'Species_Iris-virginica'], axis=1).values
y_MSE = df_copy['Species_Iris-setosa'].values

KeyError: ('Species_Iris-setosa', 'Species_Iris-versicolor', 'Species_Iris-virginica')

## Learning procedure

In [ ]:
class Model(nn.Module):
    def __init__(self, input_features=4, hidden_layer1=25, hidden_layer2=30, output_features=3):
        super().__init__()
        self.fc1 = nn.Linear(input_features,hidden_layer1)                  
        self.fc2 = nn.Linear(hidden_layer1, hidden_layer2)                  
        self.out = nn.Linear(hidden_layer2, output_features)      
        
    def forward(self, x):
        x = F.relu(self.fc1(x))
        x = F.relu(self.fc2(x))
        x = self.out(x)
        return x

### Cross entropy loss

In [ ]:
model     = Model(X_train.shape[1])
criterion = nn.CrossEntropyLoss()
# criterion = nn.MSELoss()
optimizer = torch.optim.SGD(model.parameters(), lr=0.01, momentum=0.9)
optimizer.zero_grad()
model

Model(
  (fc1): Linear(in_features=4, out_features=25, bias=True)
  (fc2): Linear(in_features=25, out_features=30, bias=True)
  (out): Linear(in_features=30, out_features=3, bias=True)
)

In [ ]:
epochs = 100
losses = []

for i in range(epochs):
    y_pred = model.forward(X_train)
    loss = criterion(y_pred, y_train)
    # loss = criterion(y_pred, y_train.view(-1, 1))
    losses.append(loss)
    print(f'epoch: {i:2}  loss: {loss.item():10.8f}')
    
    optimizer.zero_grad()
    loss.backward()
    optimizer.step()

epoch:  0  loss: 1.27972877
epoch:  1  loss: 1.24154413
epoch:  2  loss: 1.18024552
epoch:  3  loss: 1.11346161
epoch:  4  loss: 1.05458915
epoch:  5  loss: 1.01182687
epoch:  6  loss: 0.98217922
epoch:  7  loss: 0.95978564
epoch:  8  loss: 0.94252247
epoch:  9  loss: 0.92792702
epoch: 10  loss: 0.91354483
epoch: 11  loss: 0.89699268
epoch: 12  loss: 0.87728506
epoch: 13  loss: 0.85373151
epoch: 14  loss: 0.82634801
epoch: 15  loss: 0.79901427
epoch: 16  loss: 0.77506840
epoch: 17  loss: 0.75112844
epoch: 18  loss: 0.72738248
epoch: 19  loss: 0.70437449
epoch: 20  loss: 0.68094665
epoch: 21  loss: 0.65673882
epoch: 22  loss: 0.63175637
epoch: 23  loss: 0.60651374
epoch: 24  loss: 0.58165252
epoch: 25  loss: 0.55827433
epoch: 26  loss: 0.53700078
epoch: 27  loss: 0.51833200
epoch: 28  loss: 0.50245357
epoch: 29  loss: 0.48856792
epoch: 30  loss: 0.47484931
epoch: 31  loss: 0.46106866
epoch: 32  loss: 0.44795147
epoch: 33  loss: 0.43634111
epoch: 34  loss: 0.42654008
epoch: 35  loss: 0.41811454
epoch: 36  loss: 0.41014066
epoch: 37  loss: 0.40186778
epoch: 38  loss: 0.39319745
epoch: 39  loss: 0.38469520
epoch: 40  loss: 0.37705472
epoch: 41  loss: 0.37049630
epoch: 42  loss: 0.36455357
epoch: 43  loss: 0.35848030
epoch: 44  loss: 0.35188881
epoch: 45  loss: 0.34503496
epoch: 46  loss: 0.33848077
epoch: 47  loss: 0.33259881
epoch: 48  loss: 0.32714528
epoch: 49  loss: 0.32155567
epoch: 50  loss: 0.31552657
epoch: 51  loss: 0.30933762
epoch: 52  loss: 0.30349472
epoch: 53  loss: 0.29811373
epoch: 54  loss: 0.29282281
epoch: 55  loss: 0.28725705
epoch: 56  loss: 0.28152019
epoch: 57  loss: 0.27601826
epoch: 58  loss: 0.27090535
epoch: 59  loss: 0.26587674
epoch: 60  loss: 0.26064789
epoch: 61  loss: 0.25536743
epoch: 62  loss: 0.25036097
epoch: 63  loss: 0.24562305
epoch: 64  loss: 0.24088091
epoch: 65  loss: 0.23605581
epoch: 66  loss: 0.23137546
epoch: 67  loss: 0.22697493
epoch: 68  loss: 0.22267824
epoch: 69  loss: 0.21833506
epoch: 70  loss: 0.21408419
epoch: 71  loss: 0.21007420
epoch: 72  loss: 0.20620590
epoch: 73  loss: 0.20234807
epoch: 74  loss: 0.19858012
epoch: 75  loss: 0.19501583
epoch: 76  loss: 0.19158319
epoch: 77  loss: 0.18818015
epoch: 78  loss: 0.18487228
epoch: 79  loss: 0.18173854
epoch: 80  loss: 0.17871371
epoch: 81  loss: 0.17573909
epoch: 82  loss: 0.17287469
epoch: 83  loss: 0.17015457
epoch: 84  loss: 0.16751586
epoch: 85  loss: 0.16493477
epoch: 86  loss: 0.16246304
epoch: 87  loss: 0.16010350
epoch: 88  loss: 0.15780877
epoch: 89  loss: 0.15558149
epoch: 90  loss: 0.15345590
epoch: 91  loss: 0.15141293
epoch: 92  loss: 0.14942290
epoch: 93  loss: 0.14750388
epoch: 94  loss: 0.14566857
epoch: 95  loss: 0.14389297
epoch: 96  loss: 0.14216876
epoch: 97  loss: 0.14051278
epoch: 98  loss: 0.13892235
epoch: 99  loss: 0.13737836

In [ ]:
preds = []
# with torch.no_grad():
for val in X_test:
    y_test_prediction = model.forward(val)
    preds.append(y_test_prediction.argmax().item())

In [ ]:
test_df = pd.DataFrame({'Y': y_test, 'Prediction': preds})
test_df['Correct'] = [1 if correct == prediction else 0 for correct, prediction in zip(test_df['Y'], test_df['Prediction'])]

In [ ]:
test_df

    Y  Prediction  Correct
0   2           2        1
1   1           1        1
2   0           0        1
3   2           2        1
4   0           0        1
5   2           2        1
6   0           0        1
7   1           1        1
8   1           1        1
9   1           1        1
10  2           2        1
11  1           1        1
12  1           1        1
13  1           1        1
14  1           1        1
15  0           0        1
16  1           1        1
17  1           1        1
18  0           0        1
19  0           0        1
20  2           2        1
21  1           1        1
22  0           0        1
23  0           0        1
24  2           2        1
25  0           0        1
26  0           0        1
27  1           1        1
28  1           1        1
29  0           0        1

### Accuracy

In [ ]:
accuracy = test_df['Correct'].sum() / len(test_df)
print("Accuracy: ", accuracy)

Accuracy:  1.0