In [735]:
import pandas as pd
import numpy as np
import torch.nn as nn
import torch
import torch.nn.functional as F

from sklearn.linear_model import SGDClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split

In [736]:
df = pd.read_csv("Iris.csv")
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [737]:
df = df.drop(["Id"], axis=1)
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [738]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    float64
 1   SepalWidthCm   150 non-null    float64
 2   PetalLengthCm  150 non-null    float64
 3   PetalWidthCm   150 non-null    float64
 4   Species        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [739]:
df['Species'] = df['Species'].map({'Iris-setosa': 0, 'Iris-versicolor': 1, 'Iris-virginica':2})
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            5.1           3.5            1.4           0.2        0
1            4.9           3.0            1.4           0.2        0
2            4.7           3.2            1.3           0.2        0
3            4.6           3.1            1.5           0.2        0
4            5.0           3.6            1.4           0.2        0

In [740]:
X = df.drop('Species', axis=1).values
y = df['Species'].values

In [742]:
X_train, X_test, y_train, y_test = train_test_split(X y, test_size = 0.2, random_state = 0)

In [743]:
y_train

array([2, 1, 0, 2, 2, 1, 0, 1, 1, 1, 2, 0, 2, 0, 0, 1, 2, 2, 2, 2, 1, 2,
       1, 1, 2, 2, 2, 2, 1, 2, 1, 0, 2, 1, 1, 1, 1, 2, 0, 0, 2, 1, 0, 0,
       1, 0, 2, 1, 0, 1, 2, 1, 0, 2, 2, 2, 2, 0, 0, 2, 2, 0, 2, 0, 2, 2,
       0, 0, 2, 0, 0, 0, 1, 2, 2, 0, 0, 0, 1, 1, 0, 0, 1, 0, 2, 1, 2, 1,
       0, 2, 0, 2, 0, 0, 2, 0, 2, 1, 1, 1, 2, 2, 1, 1, 0, 1, 2, 2, 0, 1,
       1, 1, 1, 0, 0, 0, 2, 1, 2, 0])

In [745]:
X_train = torch.FloatTensor(X_train)
X_test = torch.FloatTensor(X_test)
y_train = torch.LongTensor(y_train)
y_test = torch.LongTensor(y_test)

In [746]:
class Model(nn.Module):
    def __init__(self, input_features=4, hidden_layer1=25, hidden_layer2=30, output_features=3):
        super().__init__()
        self.fc1 = nn.Linear(input_features,hidden_layer1)                  
        self.fc2 = nn.Linear(hidden_layer1, hidden_layer2)                  
        self.out = nn.Linear(hidden_layer2, output_features)      
        
    def forward(self, x):
        x = F.relu(self.fc1(x))
        x = F.relu(self.fc2(x))
        x = self.out(x)
        return x

In [747]:
model     = Model(X_train.shape[1])
criterion = nn.CrossEntropyLoss()
optimizer = torch.optim.SGD(model.parameters(), lr=0.01, momentum=0.9)
optimizer.zero_grad()
model

Model(
  (fc1): Linear(in_features=4, out_features=25, bias=True)
  (fc2): Linear(in_features=25, out_features=30, bias=True)
  (out): Linear(in_features=30, out_features=3, bias=True)
)

In [749]:
epochs = 100
losses = []

for i in range(epochs):
    y_pred = model.forward(X_train)
    loss = criterion(y_pred, y_train)
    losses.append(loss)
    print(f'epoch: {i:2}  loss: {loss.item():10.8f}')
    
    optimizer.zero_grad()
    loss.backward()
    optimizer.step()

epoch:  0  loss: 1.17416024
epoch:  1  loss: 1.16787493
epoch:  2  loss: 1.15668249
epoch:  3  loss: 1.14224494
epoch:  4  loss: 1.12617254
epoch:  5  loss: 1.10979509
epoch:  6  loss: 1.09410250
epoch:  7  loss: 1.07967746
epoch:  8  loss: 1.06673098
epoch:  9  loss: 1.05511880
epoch: 10  loss: 1.04458034
epoch: 11  loss: 1.03458130
epoch: 12  loss: 1.02447319
epoch: 13  loss: 1.01385963
epoch: 14  loss: 1.00269115
epoch: 15  loss: 0.99108881
epoch: 16  loss: 0.97924072
epoch: 17  loss: 0.96730399
epoch: 18  loss: 0.95529306
epoch: 19  loss: 0.94312727
epoch: 20  loss: 0.93073934
epoch: 21  loss: 0.91811967
epoch: 22  loss: 0.90539539
epoch: 23  loss: 0.89235336
epoch: 24  loss: 0.87885147
epoch: 25  loss: 0.86482656
epoch: 26  loss: 0.85010189
epoch: 27  loss: 0.83489579
epoch: 28  loss: 0.81949341
epoch: 29  loss: 0.80369914
epoch: 30  loss: 0.78766823
epoch: 31  loss: 0.77155870
epoch: 32  loss: 0.75500953
epoch: 33  loss: 0.73804647
epoch: 34  loss: 0.72086883
epoch: 35  loss: 0.70366496
epoch: 36  loss: 0.68683964
epoch: 37  loss: 0.67074299
epoch: 38  loss: 0.65512222
epoch: 39  loss: 0.63997579
epoch: 40  loss: 0.62525839
epoch: 41  loss: 0.61090070
epoch: 42  loss: 0.59687895
epoch: 43  loss: 0.58315825
epoch: 44  loss: 0.56979376
epoch: 45  loss: 0.55678546
epoch: 46  loss: 0.54422814
epoch: 47  loss: 0.53211170
epoch: 48  loss: 0.52047437
epoch: 49  loss: 0.50937313
epoch: 50  loss: 0.49886528
epoch: 51  loss: 0.48894030
epoch: 52  loss: 0.47954708
epoch: 53  loss: 0.47063437
epoch: 54  loss: 0.46215001
epoch: 55  loss: 0.45403528
epoch: 56  loss: 0.44625998
epoch: 57  loss: 0.43879816
epoch: 58  loss: 0.43163389
epoch: 59  loss: 0.42473125
epoch: 60  loss: 0.41805038
epoch: 61  loss: 0.41154951
epoch: 62  loss: 0.40519205
epoch: 63  loss: 0.39895731
epoch: 64  loss: 0.39283863
epoch: 65  loss: 0.38681453
epoch: 66  loss: 0.38085860
epoch: 67  loss: 0.37494957
epoch: 68  loss: 0.36907351
epoch: 69  loss: 0.36322629
epoch: 70  loss: 0.35741016
epoch: 71  loss: 0.35162321
epoch: 72  loss: 0.34585449
epoch: 73  loss: 0.34009597
epoch: 74  loss: 0.33434361
epoch: 75  loss: 0.32861224
epoch: 76  loss: 0.32290497
epoch: 77  loss: 0.31722558
epoch: 78  loss: 0.31156886
epoch: 79  loss: 0.30593646
epoch: 80  loss: 0.30033481
epoch: 81  loss: 0.29477444
epoch: 82  loss: 0.28925982
epoch: 83  loss: 0.28378916
epoch: 84  loss: 0.27836463
epoch: 85  loss: 0.27299741
epoch: 86  loss: 0.26769397
epoch: 87  loss: 0.26245645
epoch: 88  loss: 0.25728777
epoch: 89  loss: 0.25219700
epoch: 90  loss: 0.24719055
epoch: 91  loss: 0.24226995
epoch: 92  loss: 0.23743686
epoch: 93  loss: 0.23269731
epoch: 94  loss: 0.22805624
epoch: 95  loss: 0.22351629
epoch: 96  loss: 0.21907896
epoch: 97  loss: 0.21474791
epoch: 98  loss: 0.21052504
epoch: 99  loss: 0.20641105

In [757]:
preds = []
# with torch.no_grad():
for val in X_test:
    y_test_prediction = model.forward(val)
    preds.append(y_test_prediction.argmax().item())

In [751]:
test_df = pd.DataFrame({'Y': y_test, 'Prediction': preds})
test_df['Correct'] = [1 if correct == prediction else 0 for correct, prediction in zip(test_df['Y'], test_df['Prediction'])]

In [752]:
test_df

    Y  Prediction  Correct
0   2           2        1
1   1           1        1
2   0           0        1
3   2           2        1
4   0           0        1
5   2           2        1
6   0           0        1
7   1           1        1
8   1           1        1
9   1           1        1
10  2           2        1
11  1           1        1
12  1           1        1
13  1           1        1
14  1           1        1
15  0           0        1
16  1           1        1
17  1           1        1
18  0           0        1
19  0           0        1
20  2           2        1
21  1           1        1
22  0           0        1
23  0           0        1
24  2           2        1
25  0           0        1
26  0           0        1
27  1           1        1
28  1           1        1
29  0           0        1

In [753]:
accuracy = test_df['Correct'].sum() / len(test_df)
print("Accuracy: ", accuracy)

Accuracy:  1.0