In [1380]:
import pandas as pd
import numpy as np
import torch.nn as nn
import torch
import torch.nn.functional as F

from sklearn.linear_model import SGDClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split

## Data import

In [1381]:
df = pd.read_csv("Iris.csv")
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

## Data preprocessing

The first step is to check which columns are important and which not. The 'Id' column does not have effect on the training procedure, therefore it can be removed.

In [1382]:
df = df.drop(["Id"], axis=1)
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

Then, we check whether dataframe contains null values or not. In this case all values are provided and it does not require any additional actions related to filling the data. It is important to note that 'Species' column is a categorical column.

In [1383]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    float64
 1   SepalWidthCm   150 non-null    float64
 2   PetalLengthCm  150 non-null    float64
 3   PetalWidthCm   150 non-null    float64
 4   Species        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

The next step is to transform categorical column into numerical values in order to train the model. 'Species' column consists of 3 values ('Iris-setosa', 'Iris-versicolor' and 'Iris-virginica'). We transformed those values into numbers: 0, 1, 2.

In [1384]:
categories = df['Species'].unique()
print(categories)

['Iris-setosa' 'Iris-versicolor' 'Iris-virginica']

In [1385]:
df['Species'] = df['Species'].map({'Iris-setosa': 0, 'Iris-versicolor': 1, 'Iris-virginica': 2})
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            5.1           3.5            1.4           0.2        0
1            4.9           3.0            1.4           0.2        0
2            4.7           3.2            1.3           0.2        0
3            4.6           3.1            1.5           0.2        0
4            5.0           3.6            1.4           0.2        0

After that, we split datasest into the train (80% of original dataset) and the test (20% of original dataset) datasets. Then we transformed them into inputs and targets for loss functions.

In [1386]:
X = df.drop('Species', axis=1).values
y = df['Species'].values

In [1387]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [1388]:
X_train = torch.FloatTensor(X_train)
X_test = torch.FloatTensor(X_test)
y_train = torch.LongTensor(y_train)
y_test = torch.LongTensor(y_test)

## Learning procedure

In [1389]:
class Model(nn.Module):
    def __init__(self, input_features=4, hidden_layer1=25, hidden_layer2=30, output_features=3):
        super().__init__()
        self.fc1 = nn.Linear(input_features,hidden_layer1)                  
        self.fc2 = nn.Linear(hidden_layer1, hidden_layer2)                  
        self.out = nn.Linear(hidden_layer2, output_features)      
        
    def forward(self, x):
        x = F.relu(self.fc1(x))
        x = F.relu(self.fc2(x))
        x = self.out(x)
        return x

### Cross entropy loss

In [1390]:
model     = Model(X_train.shape[1])
criterion = nn.CrossEntropyLoss()
# criterion = nn.MSELoss()
optimizer = torch.optim.SGD(model.parameters(), lr=0.01, momentum=0.9)
optimizer.zero_grad()
model

Model(
  (fc1): Linear(in_features=4, out_features=25, bias=True)
  (fc2): Linear(in_features=25, out_features=30, bias=True)
  (out): Linear(in_features=30, out_features=3, bias=True)
)

In [1391]:
epochs = 100
losses = []

for i in range(epochs):
    y_pred = model.forward(X_train)
    loss = criterion(y_pred, y_train)
    # loss = criterion(y_pred, y_train.view(-1, 1))
    losses.append(loss)
    print(f'epoch: {i:2}  loss: {loss.item():10.8f}')
    
    optimizer.zero_grad()
    loss.backward()
    optimizer.step()

epoch:  0  loss: 1.12717807
epoch:  1  loss: 1.11536562
epoch:  2  loss: 1.09478247
epoch:  3  loss: 1.07316613
epoch:  4  loss: 1.05204940
epoch:  5  loss: 1.03301907
epoch:  6  loss: 1.01923907
epoch:  7  loss: 1.01012671
epoch:  8  loss: 1.00047553
epoch:  9  loss: 0.99141210
epoch: 10  loss: 0.98030525
epoch: 11  loss: 0.96637326
epoch: 12  loss: 0.95017976
epoch: 13  loss: 0.93279177
epoch: 14  loss: 0.91494340
epoch: 15  loss: 0.89654535
epoch: 16  loss: 0.87747860
epoch: 17  loss: 0.85766876
epoch: 18  loss: 0.83697790
epoch: 19  loss: 0.81532091
epoch: 20  loss: 0.79225427
epoch: 21  loss: 0.76744074
epoch: 22  loss: 0.74135101
epoch: 23  loss: 0.71493781
epoch: 24  loss: 0.68905002
epoch: 25  loss: 0.66415870
epoch: 26  loss: 0.64005589
epoch: 27  loss: 0.61625820
epoch: 28  loss: 0.59245414
epoch: 29  loss: 0.56892568
epoch: 30  loss: 0.54638803
epoch: 31  loss: 0.52559686
epoch: 32  loss: 0.50686198
epoch: 33  loss: 0.48994651
epoch: 34  loss: 0.47431436
epoch: 35  loss: 0.45954192
epoch: 36  loss: 0.44556537
epoch: 37  loss: 0.43266726
epoch: 38  loss: 0.42101547
epoch: 39  loss: 0.41053301
epoch: 40  loss: 0.40081796
epoch: 41  loss: 0.39144382
epoch: 42  loss: 0.38226292
epoch: 43  loss: 0.37343436
epoch: 44  loss: 0.36515597
epoch: 45  loss: 0.35742718
epoch: 46  loss: 0.34998670
epoch: 47  loss: 0.34258166
epoch: 48  loss: 0.33517435
epoch: 49  loss: 0.32794011
epoch: 50  loss: 0.32099849
epoch: 51  loss: 0.31424314
epoch: 52  loss: 0.30748191
epoch: 53  loss: 0.30067337
epoch: 54  loss: 0.29397580
epoch: 55  loss: 0.28751525
epoch: 56  loss: 0.28118700
epoch: 57  loss: 0.27485064
epoch: 58  loss: 0.26853868
epoch: 59  loss: 0.26240578
epoch: 60  loss: 0.25648764
epoch: 61  loss: 0.25066864
epoch: 62  loss: 0.24489975
epoch: 63  loss: 0.23928790
epoch: 64  loss: 0.23390271
epoch: 65  loss: 0.22866620
epoch: 66  loss: 0.22351316
epoch: 67  loss: 0.21851543
epoch: 68  loss: 0.21373680
epoch: 69  loss: 0.20911799
epoch: 70  loss: 0.20460956
epoch: 71  loss: 0.20026806
epoch: 72  loss: 0.19612306
epoch: 73  loss: 0.19211826
epoch: 74  loss: 0.18823108
epoch: 75  loss: 0.18451017
epoch: 76  loss: 0.18095990
epoch: 77  loss: 0.17753270
epoch: 78  loss: 0.17422958
epoch: 79  loss: 0.17108175
epoch: 80  loss: 0.16806830
epoch: 81  loss: 0.16515960
epoch: 82  loss: 0.16237308
epoch: 83  loss: 0.15971781
epoch: 84  loss: 0.15716657
epoch: 85  loss: 0.15471272
epoch: 86  loss: 0.15237080
epoch: 87  loss: 0.15013075
epoch: 88  loss: 0.14797406
epoch: 89  loss: 0.14590786
epoch: 90  loss: 0.14393479
epoch: 91  loss: 0.14203896
epoch: 92  loss: 0.14021687
epoch: 93  loss: 0.13847469
epoch: 94  loss: 0.13680397
epoch: 95  loss: 0.13519546
epoch: 96  loss: 0.13365306
epoch: 97  loss: 0.13217473
epoch: 98  loss: 0.13075143
epoch: 99  loss: 0.12938270

In [1392]:
preds = []
# with torch.no_grad():
for val in X_test:
    y_test_prediction = model.forward(val)
    preds.append(y_test_prediction.argmax().item())

In [1393]:
test_df = pd.DataFrame({'Y': y_test, 'Prediction': preds})
test_df['Correct'] = [1 if correct == prediction else 0 for correct, prediction in zip(test_df['Y'], test_df['Prediction'])]

In [1394]:
test_df

    Y  Prediction  Correct
0   2           2        1
1   1           1        1
2   0           0        1
3   2           2        1
4   0           0        1
5   2           2        1
6   0           0        1
7   1           1        1
8   1           1        1
9   1           1        1
10  2           2        1
11  1           1        1
12  1           1        1
13  1           1        1
14  1           1        1
15  0           0        1
16  1           1        1
17  1           1        1
18  0           0        1
19  0           0        1
20  2           2        1
21  1           1        1
22  0           0        1
23  0           0        1
24  2           2        1
25  0           0        1
26  0           0        1
27  1           1        1
28  1           1        1
29  0           0        1

### Accuracy

In [1395]:
accuracy = test_df['Correct'].sum() / len(test_df)
print("Accuracy: ", accuracy)

Accuracy:  1.0