In [817]:
import pandas as pd
import numpy as np
import torch.nn as nn
import torch
import torch.nn.functional as F

from sklearn.linear_model import SGDClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split

## Data import

In [818]:
df = pd.read_csv("Iris.csv")
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

## Data preprocessing

The first step is to check which columns are important and which not. The 'Id' column does not have effect on the training procedure, therefore it can be removed.

In [819]:
df = df.drop(["Id"], axis=1)
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

Then, we check whether dataframe contains null values or not. In this case all values are provided and it does not require any additional actions related to filling the data. It is important to note that 'Species' column is a categorical column.

In [820]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    float64
 1   SepalWidthCm   150 non-null    float64
 2   PetalLengthCm  150 non-null    float64
 3   PetalWidthCm   150 non-null    float64
 4   Species        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

The next step is to transform categorical column into numerical values in order to train the model. 'Species' column consists of 3 values ('Iris-setosa', 'Iris-versicolor' and 'Iris-virginica'). We transformed those values into numbers: 0, 1, 2.

In [821]:
categories = df['Species'].unique()
print(categories)

['Iris-setosa' 'Iris-versicolor' 'Iris-virginica']

In [822]:
df['Species'] = df['Species'].map({'Iris-setosa': 0, 'Iris-versicolor': 1, 'Iris-virginica': 2})
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            5.1           3.5            1.4           0.2        0
1            4.9           3.0            1.4           0.2        0
2            4.7           3.2            1.3           0.2        0
3            4.6           3.1            1.5           0.2        0
4            5.0           3.6            1.4           0.2        0

After that, we split datasest into the train (80% of original dataset) and the test (20% of original dataset) datasets. Then we transformed them into inputs and targets for loss functions.

In [823]:
X = df.drop('Species', axis=1).values
y = df['Species'].values

In [824]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [825]:
X_train = torch.FloatTensor(X_train)
X_test = torch.FloatTensor(X_test)
y_train = torch.LongTensor(y_train)
y_test = torch.LongTensor(y_test)

In [826]:
class Model(nn.Module):
    def __init__(self, input_features=4, hidden_layer1=25, hidden_layer2=30, output_features=3):
        super().__init__()
        self.fc1 = nn.Linear(input_features,hidden_layer1)                  
        self.fc2 = nn.Linear(hidden_layer1, hidden_layer2)                  
        self.out = nn.Linear(hidden_layer2, output_features)      
        
    def forward(self, x):
        x = F.relu(self.fc1(x))
        x = F.relu(self.fc2(x))
        x = self.out(x)
        return x

In [827]:
model     = Model(X_train.shape[1])
criterion = nn.CrossEntropyLoss()
optimizer = torch.optim.SGD(model.parameters(), lr=0.01, momentum=0.9)
optimizer.zero_grad()
model

Model(
  (fc1): Linear(in_features=4, out_features=25, bias=True)
  (fc2): Linear(in_features=25, out_features=30, bias=True)
  (out): Linear(in_features=30, out_features=3, bias=True)
)

In [828]:
epochs = 100
losses = []

for i in range(epochs):
    y_pred = model.forward(X_train)
    loss = criterion(y_pred, y_train)
    losses.append(loss)
    print(f'epoch: {i:2}  loss: {loss.item():10.8f}')
    
    optimizer.zero_grad()
    loss.backward()
    optimizer.step()

epoch:  0  loss: 1.10210919
epoch:  1  loss: 1.09624398
epoch:  2  loss: 1.08563447
epoch:  3  loss: 1.07163775
epoch:  4  loss: 1.05566335
epoch:  5  loss: 1.03994596
epoch:  6  loss: 1.02508998
epoch:  7  loss: 1.01034927
epoch:  8  loss: 0.99599856
epoch:  9  loss: 0.98060155
epoch: 10  loss: 0.96374798
epoch: 11  loss: 0.94534141
epoch: 12  loss: 0.92591029
epoch: 13  loss: 0.90573198
epoch: 14  loss: 0.88489461
epoch: 15  loss: 0.86302161
epoch: 16  loss: 0.83978313
epoch: 17  loss: 0.81497276
epoch: 18  loss: 0.78876108
epoch: 19  loss: 0.76165843
epoch: 20  loss: 0.73435360
epoch: 21  loss: 0.70764798
epoch: 22  loss: 0.68173575
epoch: 23  loss: 0.65662605
epoch: 24  loss: 0.63228029
epoch: 25  loss: 0.60883653
epoch: 26  loss: 0.58656538
epoch: 27  loss: 0.56577766
epoch: 28  loss: 0.54655004
epoch: 29  loss: 0.52875262
epoch: 30  loss: 0.51215589
epoch: 31  loss: 0.49656922
epoch: 32  loss: 0.48193252
epoch: 33  loss: 0.46817017
epoch: 34  loss: 0.45522344
epoch: 35  loss: 0.44302452
epoch: 36  loss: 0.43138856
epoch: 37  loss: 0.42024225
epoch: 38  loss: 0.40950006
epoch: 39  loss: 0.39922708
epoch: 40  loss: 0.38947770
epoch: 41  loss: 0.38011578
epoch: 42  loss: 0.37101609
epoch: 43  loss: 0.36212909
epoch: 44  loss: 0.35344547
epoch: 45  loss: 0.34493417
epoch: 46  loss: 0.33663157
epoch: 47  loss: 0.32855174
epoch: 48  loss: 0.32064724
epoch: 49  loss: 0.31287405
epoch: 50  loss: 0.30522409
epoch: 51  loss: 0.29771516
epoch: 52  loss: 0.29038021
epoch: 53  loss: 0.28323004
epoch: 54  loss: 0.27619714
epoch: 55  loss: 0.26928222
epoch: 56  loss: 0.26252967
epoch: 57  loss: 0.25596324
epoch: 58  loss: 0.24955782
epoch: 59  loss: 0.24329630
epoch: 60  loss: 0.23720333
epoch: 61  loss: 0.23130935
epoch: 62  loss: 0.22560303
epoch: 63  loss: 0.22006100
epoch: 64  loss: 0.21469311
epoch: 65  loss: 0.20952465
epoch: 66  loss: 0.20455055
epoch: 67  loss: 0.19975020
epoch: 68  loss: 0.19512415
epoch: 69  loss: 0.19068724
epoch: 70  loss: 0.18643527
epoch: 71  loss: 0.18234947
epoch: 72  loss: 0.17842878
epoch: 73  loss: 0.17468320
epoch: 74  loss: 0.17110175
epoch: 75  loss: 0.16766962
epoch: 76  loss: 0.16438748
epoch: 77  loss: 0.16125630
epoch: 78  loss: 0.15826494
epoch: 79  loss: 0.15540621
epoch: 80  loss: 0.15268105
epoch: 81  loss: 0.15008225
epoch: 82  loss: 0.14760131
epoch: 83  loss: 0.14523286
epoch: 84  loss: 0.14297290
epoch: 85  loss: 0.14081401
epoch: 86  loss: 0.13874801
epoch: 87  loss: 0.13677619
epoch: 88  loss: 0.13489661
epoch: 89  loss: 0.13309865
epoch: 90  loss: 0.13137977
epoch: 91  loss: 0.12973922
epoch: 92  loss: 0.12817077
epoch: 93  loss: 0.12666912
epoch: 94  loss: 0.12523213
epoch: 95  loss: 0.12385813
epoch: 96  loss: 0.12254319
epoch: 97  loss: 0.12128188
epoch: 98  loss: 0.12007252
epoch: 99  loss: 0.11891215

In [829]:
preds = []
# with torch.no_grad():
for val in X_test:
    y_test_prediction = model.forward(val)
    preds.append(y_test_prediction.argmax().item())

In [830]:
test_df = pd.DataFrame({'Y': y_test, 'Prediction': preds})
test_df['Correct'] = [1 if correct == prediction else 0 for correct, prediction in zip(test_df['Y'], test_df['Prediction'])]

In [831]:
test_df

    Y  Prediction  Correct
0   2           2        1
1   1           1        1
2   0           0        1
3   2           2        1
4   0           0        1
5   2           2        1
6   0           0        1
7   1           1        1
8   1           1        1
9   1           1        1
10  2           2        1
11  1           1        1
12  1           1        1
13  1           1        1
14  1           1        1
15  0           0        1
16  1           1        1
17  1           1        1
18  0           0        1
19  0           0        1
20  2           2        1
21  1           1        1
22  0           0        1
23  0           0        1
24  2           2        1
25  0           0        1
26  0           0        1
27  1           1        1
28  1           1        1
29  0           0        1

In [832]:
accuracy = test_df['Correct'].sum() / len(test_df)
print("Accuracy: ", accuracy)

Accuracy:  1.0